<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1049896038764-9jf7ggmlun4ebsu0hjr1sq8fmtq3q6va.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1049896038764-9jf7ggmlun4ebsu0hjr1sq8fmtq3q6va</string>
	<key>API_KEY</key>
	<string>AIzaSyDKpjx8A0wQu6TmKBTLtLaS2fcBbGZTNy4</string>
	<key>GCM_SENDER_ID</key>
	<string>1049896038764</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.metikmarketing.watermanrealtyandtaxpro</string>
	<key>PROJECT_ID</key>
	<string>waterman-realty-and-tax-pro</string>
	<key>STORAGE_BUCKET</key>
	<string>waterman-realty-and-tax-pro.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1049896038764:ios:e4e5e7864e11812c</string>
	<key>DATABASE_URL</key>
	<string>https://waterman-realty-and-tax-pro.firebaseio.com</string>
</dict>
</plist>