<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1034648589705-7fipiaed9jak7a3b370negj6aqusoq96.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1034648589705-7fipiaed9jak7a3b370negj6aqusoq96</string>
	<key>API_KEY</key>
	<string>AIzaSyA3IHpG7ScB6dCfZY4Mfjb0f_hzs3ZiNTM</string>
	<key>GCM_SENDER_ID</key>
	<string>1034648589705</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.walker.tax</string>
	<key>PROJECT_ID</key>
	<string>walker-tax-llc</string>
	<key>STORAGE_BUCKET</key>
	<string>walker-tax-llc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1034648589705:ios:a5ddc5ecdd0477542f7d58</string>
	<key>DATABASE_URL</key>
	<string>https://walker-tax-llc.firebaseio.com</string>
</dict>
</plist>